/* Basic Layout */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.38;
    color: #000;
    background: #EEEEEE;
}

main {
    margin:     0;
    padding:    0;
    min-height: 700px;
    display:    -webkit-flex;
    display:    flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

main > article {
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
}

main > nav {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
}

main > aside {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3;
}

header,
footer,
main > aside,
main > nav,
main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    background: #FFF;
}

header,
footer {
    display: block;
    min-height: 80px;
}

/* List of notes */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

ul li:first-child {
    font-weight: bold;
}

ul li:nth-child(odd) {
    background: #DDDDDD;
}

ul li:nth-child(even) {
    background: #FFFFFF;
}

ul li:hover {
    background: #CCCCCC;
}

ul span {
    display: inline-block;
    vertical-align: top;
}

ul span:nth-child(1) {
    width: 20%;
}

ul span:nth-child(2) {
    width: 40%;
}

ul span:nth-child(3) {
    width: 10%;
}

ul span:nth-child(4) {
    width: 15%;
}

ul span:last-child {
    width: 5%;
    float: right;
}

button {
    background-color: #666;
    border: none;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #CCC;
}